.DS_Store
MachineLearningCVE/.DS_Store
MachineLearningCVE/raw/
MachineLearningCVE/processed/cicids2017.csv
MachineLearningCVE/processed/combined.csv
MachineLearningCVE/processed/test-cicids2017.csv
__pycache__/
scripts/__pycache__/
